*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/*HOME/*
/*header*/
.barra{
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(4, max-content) repeat(9, 1fr);
    grid-template-rows: repeat(2,60px);
    list-style-type: none;
    align-items: center;
    justify-items: center;
    position: fixed;
    padding: 30px 30px 10px 30px;
    column-gap: 2.5px;
}
.barra__menu{
    display: none;
}
.barra__logo{
    width: 100px;
    grid-column: 13;
    grid-row: 1 / 3;
    padding-top: 10px; 
    align-self: start;
}
.barra__nav{
    grid-column: 1 / 7;
    text-decoration: none;
    background-color: rgb(94, 113, 146);
    padding: 10px 30px;
    font-size: 2rem;
    color: rgb(38, 52, 99);
}
.barra__nav:hover{
    color: rgb(251, 253, 116);
    border-radius: 5px;
}

/*main*/
main{
    background-color: rgb(163, 180, 175);
    padding-top: 180px;
}
.secpri {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 60px auto 60px 100px;
    padding-bottom: 100px;
}
.secpri__titsup{
    grid-column: 1 / 11;
    background-color: rgb(255, 238, 0);
    font-family: 'Volkhov', serif;
    font-size: 35px;
    color: rgb(51, 51, 95);
    padding: 10px;
    align-self: center;
    margin: 0px 30px 50px 30px;
    animation: animate__lightSpeedInLeft
    
}

.secpri__imghome{
    width: 90%;
    border-radius: 10px;
    grid-row: 2;
    grid-column: 1 / 11;
    padding: 0px;
    justify-self: center;
    align-self: center;
    margin: 30px;
}
.secpri__titsec{
    grid-row: 3;
    grid-column: 1 / 11;
    background-color: rgb(255, 238, 0);
    font-family: 'Volkhov', serif;
    font-size: 35px;
    color: rgb(51, 51, 95);
    padding: 10px;
    margin: 30px 30px 0px 30px;
    text-align: right;
    align-self: center;
}
.secpri__titinf{
    grid-row: 4;
    grid-column: 1 / 11;
    font-size: 30px;
    align-self: center;
    text-align: center;
    margin: 30px;
    margin-top: 50px;
    padding-top: 50px;
}
/*fabricantes*/
.pie{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 40px auto auto;
    background-color:rgb(163, 180, 175);
}
.pie__titulo{
    grid-column: 1 / 11;
    font-size: 25px;
    margin-left: 30px;
}
.pie__logos{
    grid-row: 2;
    grid-column: 1 / 11;
    display: flex;
    justify-content: space-around;
    border: 5px;
    border-style: groove;
    border-radius: 20px;
    border-color: rgb(100, 94, 94);
    margin: 10px 30px;
    padding: 5px;
    padding-bottom: 2px;
}
.pie__sub{
    grid-row: 3;
    grid-column: 1 / 11;
    margin-left: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
}
.pie__sub h4{
    font-size: 25px;
}
.pie__sub p{
    font-size: 20px;
    margin-right: 30px;
}
/*footer*/
.foot{
    display: grid;
    background-color: rgb(163, 180, 175);
    grid-template-columns: repeat(3, 1fr) 250px;
    grid-template-rows: repeat(4, auto);
    padding-bottom: 30px;

}
.foot__img{
    width: 40px;
    height: 40px;
}
.foot__img:hover{
    width: 60px;
    height: 60px;
}
.foot__text{
    grid-column: 1 / 4;
    font-size: 20px;
    margin-left: 30px;
    text-align: left;
    margin-top: 10px;
}
.foot__log{
    display: flex;
    justify-content: space-around;
    grid-column: 4;
    align-content: center;
}

/*TRABAJOS REALIZADOS*/
.trabajos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    row-gap: 20px;

}
.works{
    background-color: rgb(255, 238, 0);
    font-family: 'Volkhov', serif;
    font-size: 35px;
    color: rgb(51, 51, 95);
    padding: 10px;
    align-self: center;
    justify-self: flex-start;
    margin: 0px 30px 30px 30px;
}
.trabajos div img{
    width: 280px;
    height: 280px;
    border-radius: 20px;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}
.trabajos p{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foott{
    display: grid;
    background-color: rgb(163, 180, 175);
    grid-template-columns: repeat(3, 1fr) 250px;
    grid-template-rows: repeat(4, auto);
    padding-bottom: 30px;
    padding-top: 60px;
}
.secpri__titsectra{
    grid-row: 3;
    grid-column: 1 / 11;
    background-color: rgb(255, 238, 0);
    font-family: 'Volkhov', serif;
    font-size: 35px;
    color: rgb(51, 51, 95);
    padding: 10px;
    margin: 30px 30px 0px 30px;
    text-align: right;
    align-self: center;
}
/*CONTANOS TU PROYECTO*/
.form{
    font-size: 2.5rem;
    font-family: 'Questrial', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: 10mm;
    padding: 5mm;
}
.form__titulo{
    font-size: 3rem;
}
label{
    display: inline-block;
    width: 120px;
    height: 50px;
}
p input{
    text-align: center;
    font-size: 1.5rem;
}
select{
    font-size: 1.5rem;
}
input{
    font-size: 1.5rem;
}
.imgcelu{
    width: 35%;
    float: right;
    border: solid 1px grey;
    border-radius: 20px;
}

/*FAQS*/
.faqs{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 60px 30px 100px 30px 100px 30px 90px 30px 120px 30px 120px 30px 100px 100px;
    padding-bottom: 100px;
}
.faqs h1{
    grid-column: 1 / 11;
    background-color: rgb(255, 238, 0);
    font-family: 'Volkhov', serif;
    font-size: 35px;
    color: rgb(51, 51, 95);
    padding: 10px;
    align-self: center;
    margin: 35px 30px 50px 30px;
    animation: animate__lightSpeedInLeft
}
.faqs__question{
    text-align: left;
    padding-left: 50px;
    grid-column: 1 / 10;
    font-size: 25px;
}
.faqs__answer{
    text-align: justify;
    font-size: 2rem;
    padding-left: 40px;
    padding-right: 40px;
    grid-column: 1 / 11;
}
#faqstitsec{
    text-align: right;
}

.footq{
    display: grid;
    background-color: rgb(163, 180, 175);
    grid-template-columns: repeat(3, 1fr) 250px;
    grid-template-rows: repeat(4, auto);
    padding-bottom: 30px;
    padding-top: 60px;
}

/*QUIENES SOMOS*/
.quienessomos{
    padding-top: 0px;
}
.quien{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto;

}
.quien b{
    text-align: justify;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    grid-column: 1 / 8;
    grid-row: 1;
}
.quien__img{
    grid-column: 8 / 11;
    grid-row: 1;
    width: 120%;
    align-self: center;
}
/*MEDIAQUERIES*/
@media screen and (max-width: 600px){
    main{
        padding-top: 0;
    }
    .barra{
        margin: 0;
        padding: 0;
        position: absolute;
    }
    .barra__nav{
        display: none;
    }
    .barra__menu{
        display: flex;
        margin-left: 20px;
        font-size: 20px;
        margin-top: 0;
        cursor: pointer;
    }
    
    .barra__logo{
        width: 60px;
        margin-right: 10px;
    }
    .secpri{
        padding-top: 70px;
        grid-template-rows: 60px auto 60px auto;
        height: auto;
        padding-bottom: 40px;
    }
    .secpri__titsup{
        font-size: 15px;
        margin: 0 10px;
    }
    .barra__nav:hover{
        font-size: 17px;
        background-color: rgb(163, 180, 175);
    }
    .secpri__imghome{
        margin: 0;
    }
    .secpri__titsec{
        font-size: 15px;
        margin: 17px 10px;
    }
    .secpri__titinf{
        font-size: 15px;
        padding-top: 0;
        margin: 0 10px;
        text-align: center;
    }
    /*FABRICANTES*/
    .pie{
        margin-top: 0;
        grid-template-rows: auto 200px auto;
    }
    .pie__titulo{
        margin-bottom: 15px;
        font-size: 17px;
        text-align: center;
        margin: 0 10px 15px 10px;
    }
    .pie__logos{
        display: grid;
        border: none;
        margin: 0;
        padding: 0;
        grid-row: 2 / 3;
        grid-column: 4 / 8;
    }
    .pie img{
        width: 100px;
        height: 40px;
    }
    .pie__sub h4{
    font-size: 15px;
    text-align: left;
    margin-right: 10px;
    margin-right: 10px;
    }
    .pie__sub p{
        font-size: 13px;
    }
    /*FOOTER*/
    .foot{
        grid-template-rows: 20px 30px;
        grid-template-columns: auto;
        padding-top: 0;
    
    }
    .foot__img{
        width: 25px;
        height: 25px;
    }
    .foot__img:hover{
        width: 40px;
        height: 40px;
    }
    .foot__text{
        font-size: 10px;
        grid-column: 1 / 5;
        line-height: 0px;
        text-align: center;
        grid-row: 2 / 3;
        margin: 0;
        margin-top: 25px;
    }
    .foot__log{
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        margin-left: 70px;
        margin-right: 70px;
    }
    /* QUIENES SOMOS*/
    .quienessomos{
        padding-top: 75px;
        padding-bottom: 20px;
    }
    .secpri{
        grid-template-rows: 60px auto auto 60px;
    }
    .quien__img{
        display: inline-block;
        grid-column: 1 / 11;
        justify-self: center;
        align-self: flex-end;
        grid-row: 3;
    
    }
    .secpri b{
        display: inline-block;
        align-self: flex-start;
        grid-column: 1 / 11;
        grid-row: 2;
    }
    .secpri__titsecquie{
        font-size: 15px;
        margin: 17px 10px;
        grid-row: 4;
    }
    .footq{
        grid-template-rows: 20px 30px 100px;
        grid-template-columns: auto;
        padding-top: 0;
    }
    /*FAQS*/
    .faqs{
        padding-top: 70px;
        grid-template-rows: 60px auto;
        row-gap: 5px;
    
    }
    .faqs h1{
        font-size: 15px;
        margin: 0 10px 0 10px;
    }
    .faqs__question{
        font-size: 15px;
        
    }
    .faqs__answer{
        font-size: 14px;
    }
    /*TRABAJOS REALIZADOS**/
    .trabre{
        padding-top: 80px;
    }
    .works{
        font-size: 15px;
    }
    .trabajos{
        grid-template-columns: auto;
    }
    .secpri__titsectra{
        font-size: 15px;
    }
    /*CONTANOS TU PROYECTO*/
    .imgcelu{
        display: none;
    }
    .form__text{
        font-size: 15px;
        columns: auto;
    }
    .form{
        font-size: 15px;
    }
    .form__titulo{
        font-size: 17px;
    }
    label{
        width: 80px;
        height: 30px;
    }
    p input{
        font-size: 10px;
    }
    select{
        font-size: 10px;
    }
    .formu{
        padding-top: 75px;
        padding-bottom: 20px;
    }
    
    }
    @media only screen and (min-width: 600px) and (max-width: 900px){
    /*INDEX*/
    main{
        padding-top: 0;
    }
        .barra{
        position: absolute;
    }
    .menubar{
        display: none;
    }
    .barra__nav{
        font-size: 15px;
        padding: 5px;
    }
    .barra__logo{
        width: 60px;
    }
    .secpri{
        padding-top: 100px;
        grid-template-rows: 60px auto 60px auto;
        height: auto;
        padding-bottom: 40px;
    }
    .secpri__titsup{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .barra__nav:hover{
        font-size: 17px;
        background-color: rgb(163, 180, 175);
    }
    .secpri__imghome{
        margin: 0;
    }
    .secpri__titsec{
        font-size: 20px;
        margin-top: 17px;
    }
    .secpri__titinf{
        font-size: 15px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        
    }
    /*fabricantes*/
    .pie{
        margin-top: 0;
        grid-template-rows: auto auto auto;
    }
    .pie__titulo{
        margin-bottom: 15px;
        font-size: 17px;
        text-align: center;
        margin-right: 30px;
    }
    .pie__logos{
        display: flex;
        border: none;
        margin: 0, 30px;
        padding: 0;
    }
    .pie img{
        width: 100px;
        height: 40px;
    }
    .pie__sub h4{
    font-size: 17px;
    }
    .pie__sub p{
        font-size: 15px;
    }
    /*footer*/
    .foot{
        grid-row: 20px 15px;
        grid-template-columns: auto;
        grid-template-rows: auto 40px;
    }
    .foot__img{
        width: 20px;
        height: 20px;
    }
    .foot__img:hover{
        width: 40px;
        height: 40px;
    }
    .foot__text{
        font-size: 14px;
        grid-row: 1 / 2;
        line-height: 0px;
    }
    .foot__log{
        grid-row: 1 / 2;
    }
    /*QUIENES SOMOS*/
    .quienessomos{
        padding-top: 105px;
    }
    .secpri__titsecquie{
        font-size: 20px;
        margin-top: 17px;
    }
    .footq{
        grid-row: 20px 15px;
        grid-template-columns: auto;
        grid-template-rows: auto 350px;
    }
    /*TRABAJOS REALIZADOS*/
    .trabre{
        padding-top: 110px;
    }
    .trabajos{
        padding-top: 10px;
    }
    .works{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .trabajos div img{
        width: 150px;
        height: 150px;
        border-radius: 20px;
    }
    .secpri__titsectra{
        font-size: 20px;
    }
    .foott{
        padding-bottom: 280px;
    }
    
    /*FAQS*/
    .faqs{
        grid-template-rows: 60px repeat(12, auto);
        row-gap: 10px;
        padding-top: 100px;
    }
    .faqs h1{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .faqs__question{
        font-size: 22px;
    }
    .faqs__answer{
        font-size: 20px;
    }
    /*CONTANOS TU PROYECTO*/
    .imgcelu{
        display: none;
    }
    .form__text{
        font-size: 17px;
        columns: auto;
    }
    .form{
        font-size: 17px;
    }
    .form__titulo{
        font-size: 19px;
    }
    label{
        width: 100px;
        height: 40px;
    }
    p input{
        font-size: 14px;
    }
    select{
        font-size: 14px;
    }
    .formu{
        padding-top: 105px;
        padding-bottom: 20px;
    }.imgcelu{
        display: none;
    }
    
    }