@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@1,200&family=Questrial&family=Volkhov&display=swap');




$tipo-nav: 'Volkhov', serif;
$fontsizeh1: 35px;
$tipo2: 'Kanit', sans-serif;